:root {
	--white: #FFFFFF;
	--black: #000000;
	--gray: #9E9E9E;
	--light-gray: #C3C3C3;
	--cubic: cubic-bezier(0, 0.55, 0.45, 1);
}

@font-face {
	font-family: 'SF';
	src: url('./fonts/SF.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@keyframes inception {
	from {
		transform: translateY(30px);
		opacity: 0;
	}
	to {
		transform: initial;
		opacity: 1;
	}
}

@keyframes vector {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--black);
	font-family: inherit;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	list-style: none;
	outline: 0;
	border: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	background: var(--black);
	color: var(--white);
}

html {
	font-family: 'SF', -apple-system, BlinkMacSystemFont, sans-serif;
	padding: 210px 0;
}

a:not(.caption a),
img,
video {
	display: block;
}

img {
	opacity: 0;
	transition: opacity .62s var(--cubic);
}

img.loaded {
	opacity: 1;
}

body {
	animation: inception .62s var(--cubic);
}

img,
video {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	pointer-events: none;
}

H1,H2,H3,p,a {
	font-size: 16px;
	line-height: 1.38;
}

header,
h3,
.about {
	max-width: 550px;
}

header::before,
header::after,
h3::before,
.description::before,
.media::before,
.media::after {
	content: '';
	position: absolute;
	right: 0;
	transition: transform 1s var(--cubic);
}

header::before,
h3::before,
.description::before,
.media::before,
.media::after {
	height: 1px;
	left: 0;
}

header,
h3,
.description {
	position: relative;
}

header::before,
header::after {
	top: 30px;
}

header::after,
h3::before {
	bottom: 0;
}

section,
.description {
	padding-left: 550px;
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}

header {
	height: 340px;
}

header::before,
h3::before,
.description::before {
	transform-origin: left;
}

header::before,
h3::before,
.media::before,
.media::after {
	animation: vector .62s var(--cubic);
}

.media::before,
.media::after {
	animation-delay: 1s;
}

.media::before {
	top: 0;
}

.media::after {
	bottom: 0;
}

header::before,
.media::before,
.media::after {
	background: var(--black);
}

header::after {
	width: 1px;
	background: linear-gradient(180deg, var(--black) , var(--white));
	animation: vector 1s var(--cubic);
	animation-delay: .62s;
	transform-origin: top;
}

header::after,
.media::before,
.media::after {
	animation-fill-mode: forwards;
	transform: scale(0);
}

footer {
	margin-top: 550px;
}

.cover {
	width: 550px;
}

.description::before {
	background: linear-gradient(-90deg, var(--black) , var(--white));
	transform: scaleX(1);
}

.project:not(:last-child) {
	margin-bottom: 130px;
}

.project:hover .description::before,
footer:hover h3::before {
	transform: scaleX(0);
	transform-origin: right;
}

.title {
	text-align: right;
	padding: 8px 0;
}

footer a {
	margin-top: 8px;
}

h3 {
	height: 30px;
}

h3::before {
	background: linear-gradient(90deg, var(--black) , var(--white));
}

.media * {
	width: 100%;
}

.project-head {
	min-height: 550px;
	padding-bottom: 210px;
}

.about {
	font-size: 26px;
}

.caption,
.caption a {
	color: var(--gray);
}

.caption {
	max-width: 340px;
	margin-top: 16px;
}

.caption a {
	border-bottom: 1px solid var(--light-gray);
}

.media {
	margin-bottom: 340px;
	position: relative;
}

.hidden {
	display: none;
	visibility: hidden;
}

@media (max-width: 1440px) {
	h1,
	header > h2,
	h3 {
		padding-left: 13px
	}

	.title,
	.project-head {
		padding-right: 13px
	}

	header,
	h3 {
		max-width: 38%;
	}

	section {
		padding-left: 38%;
	}

	.cover {
		width: 62%;
	}

	.description {
		padding-left: 62%;
	}
}

@media (max-width: 890px) {
	header,
	h3 {
		max-width: 100%;
	}

	header::before {
		background: linear-gradient(90deg, var(--black) , var(--white));
	}

	header::after {
		display: none;
	}

	.projects,
	.next-project {
		padding-left: 0;
	}

	.project-head {
		padding: 0 13px
	}

	.cover {
		width: 62%;
	}

	.contact {
		padding-left: 62%;
		padding-right: 13px
	}

	.contact a {
		text-align: right
	}
}